@charset "utf-8";

.article.card-type {padding:20px;border:1px solid #333;background:#222;border-radius: 20px}
.article.card-type + .article.card-type {margin-top:100px;}

.article .desc  + .example {margin-top:50px;}
.article .example + .code-wrap {margin-top:50px;}

.example .flex-row {display:flex;width:100%;align-items: center}
.example .flex-row .column {font-size:0;}
.example .flex-row .n2 {width:50%;}
.example .test-group {margin-left:-5px;}
.example .test-box {display:flex;width:100%;align-items:center;justify-content:center;background:#002936;text-align:center;font-size:14px;min-height:100px;}
.example .test-btn {font-size:14px;margin:5px;}
.example .test-box.is-active {background:#f5513c}

.code-wrap .colorscripter-code {font-size:14px;line-height:1.4;}
.code-wrap .colorscripter-code .colorscripter-code-table {background: #002936 !important}

.rotate-slider {background:#000;z-index:99999;overflow:hidden}
.rotate-slider.is-show {display:block;}
.rotate-slider > .inner {position:relative;display:flex;align-items:center;margin:0 auto;color:#fff;height:100%;overflow:hidden;justify-content: center;}
.rotate-slider .sliders {position:relative;display:flex;justify-content:center;flex-wrap: wrap;max-width:400px;}
.rotate-slider .slide {position:relative;width:100px;height:100px;background:#fff;padding:10px;opacity:0.8;cursor:pointer;font-size:14px;overflow:hidden;}
.rotate-slider .slide-head {height:100%;}
.rotate-slider .slide-body {}
.rotate-slider .slide-foot {}
.rotate-slider .num {display:flex;width:100%;height:100%;align-items: center;justify-content: center;font-size:40px;font-weight:900;}
.rotate-slider .title {display:none;}
.rotate-slider .desc {display:none;color:inherit;}
.rotate-slider .slide-close-btn {display:none;position:absolute;top:0;right:0;}
.rotate-slider .slide:hover {opacity:1;transition: opacity .3s;z-index:999 !important;}

.rotate-slider .slide-pop {position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);width:0;height:0;}
.rotate-slider .slide-pop.is-active {animation:openPage ease-in-out .4s forwards ;z-index:9999 !important;border-radius:0;background:#fff;padding:10px;}
.rotate-slider .slide-pop.is-active .slide-head {position:relative;padding-right:100px;height:auto}
.rotate-slider .slide-pop.is-active .num {display:block;font-size:20px;}
.rotate-slider .slide-pop.is-active .title,
.rotate-slider .slide-pop.is-active .desc,
.rotate-slider .slide-pop.is-active .slide-close-btn {display:block;}

@keyframes openPage {
    0% {margin:0;transform:rotate(0);opacity:0;}
    100% {top:0;left:0;width:100%;height:100%;transform:rotate(720deg);opacity:1;}

}
@-webkit-keyframes openPage {
    0% {margin:0;transform:rotate(0);opacity:0;}
    100% {top:0;left:0;width:100%;height:100%;transform:rotate(720deg);opacity:1;}
}