@charset "utf-8";

/* light */
.section.is-on h3.tit{color: rgb(33, 150, 255);-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on h3.tit > a {color: #ddd;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on h4.tit {color:#999;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .tit .more-link {color:#999;-webkit-transition: color .3s ,opacity .3s;-o-transition: color .3s ,opacity .3s;transition: color .3s ,opacity .3s;opacity:1;}
.section.is-on p.desc {color:#606d77;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .disc-list {color:#8f9da8;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .disc-list li:before {background:#9c761e;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}
.section.is-on dl.desc-list > dt {color:#80807b;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .em-text {color:#9c761e;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .disc-list li.is-find {color:#fff;}
.section.is-on .em-text.is-find {background: #ffff00;color:#f70000;}
.section.is-on .photo-list .info dd:before {color: #975e2b;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .tech_list .slick-dots {border-color:#ddd}
.section.is-on .bim {background:rgba(255,255,255, .4);}
.section.is-on .pic {opacity:1}
.section.is-on .article-wrap {opacity:1;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}
.section.is-on .photo-list .info .name{color: #bf9e72;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .photo-list .info dd {color:#cac7b6;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .utils-list .util-info > dd {color:#ddd;}
.section.is-on .utils-list .util-info > dt > .title{color:rgb(255 237 179)}
.section.is-on .utils-list .util-info > dd > a{color:#ffa500}
.section.is-on .utils-list .util-info > dd > a .icon {opacity:1;}

.section.is-on .tabs-nav li .is-active {background: #f5513c;color:#fff;-webkit-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out}

.section.is-on .years-tab .partion-list li{color:#999;}
.section.is-on .years-tab .partion-list li.is-active {color:#ddd;}

.section.is-on .tech_list .slick-slider {background: #ffffff;background: -o-linear-gradient(39deg,rgb(255 198 115) 21%,rgb(255 237 164) 49%,rgb(255 207 136) 77%,rgb(28 28 28) 94%,rgb(28 28 28) 100%);background: linear-gradient(51deg,rgb(255 198 115) 21%,rgb(255 237 164) 49%,rgb(255 207 136) 77%,rgb(28 28 28) 94%,rgb(28 28 28) 100%);-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;}
.section.is-on .tech_list .slick-slider .title {color:#333;}
.section.is-on .tech_list .slick-slider .desc {color:#8f9da8;}
.section.is-on .tech_list .slick-slide .row .column img {background-color:rgba(255,255,255,.5);opacity:1;-webkit-transition: opacity .3s, background-color .3s;-o-transition: opacity .3s, background-color .3s;transition: opacity .3s, background-color .3s;}
.section.is-on .tech_list .slick-dots li {opacity:1;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}

.section.is-on .profile .info .is-on .question ,
.section.is-on .profile .info .is-on .answer.is-active {color:#fff;}
.section.is-on .profile .info .is-on .question:before,
.section.is-on .profile .info .is-on .question:after {background:#fff;}

.section.is-on .profile .info > .question{color:#777;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .profile .info > .answer{color:#aaa;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .info > li {background: #ffffff;background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgb(255 238 212)),color-stop(20%, rgb(255 247 236)),color-stop(87%, rgb(255 237 179)),color-stop(99%, rgb(175 129 62)),to(rgb(255 237 185)));background: -o-linear-gradient(top, rgb(255 238 212) 11%,rgb(255 247 236) 20%,rgb(255 237 179) 87%,rgb(175 129 62) 99%,rgb(255 237 185) 100%);background: linear-gradient(180deg, rgb(255 238 212) 11%,rgb(255 247 236) 20%,rgb(255 237 179) 87%,rgb(175 129 62) 99%,rgb(255 237 185) 100%);}
.section.is-on .profile .info > li.is-on {background: #f05133}

.section.is-on .toggle-switch .tooltip-block,
.section.is-on .toggle-switch .tooltip-block:after{display:none;}

.section.is-on .main-tab-nav li {color:#ddd;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .main-tab-nav li.is-active {color:#ffc673;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .main-tab-nav li.is-active:before {background:#ffc673;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}

.section.is-on .tbl-col ,
.section.is-on .tbl-row {border-color:#24323d;}
.section.is-on .tbl-col th,
.section.is-on .tbl-row th {background:#2d3f4f;color:#ddd;-webkit-transition: background .3s ,color .3s;-o-transition: background .3s ,color .3s;transition: background .3s ,color .3s;border-color:#24323d;}
.section.is-on .tbl-col td,
.section.is-on .tbl-row td {color:#aaa;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s;border-color:#24323d;}

.section.is-on .desc-group strong.tit {color:#ddd;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .desc-group .sub-text {color:#aaa;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}

/* theme */
.theme .section.is-on h3.tit {color:rgb(216, 255, 0)}
.theme .section.is-on h4.tit {color:rgb(255,255,255)}
.theme .section.is-on p.desc {color:#8f9da8;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .disc-list {color:#fff;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .disc-list li:before {background:#ff9c00;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}
.theme .section.is-on dl.desc-list > dt {color:#ffff97;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .em-text {color: #ff9c00;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .disc-list li.is-find {color:#fff;}
.theme .section.is-on .em-text.is-find {background: #ffff00;color:#f70000;}
.theme .section.is-on .photo-list .info dd:before {color: #e5832b}

.theme .section.is-on .years-tab .partion-list li{color:#aaa;}
.theme .section.is-on .years-tab .partion-list li.is-active {color:#fff;}

.theme .header {background:rgba(127, 160, 61, 0); -webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s;}
.theme .header.is-fixed {background: rgba(0,0,0, .2);-webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s;}
.theme .header.is-active {background:rgba(127, 160, 61, 1);-webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s;}
.theme .header .inner .util > li .tooltip-block {opacity:0;-webkit-transition: opacity .3s ease;-o-transition: opacity .3s ease;transition: opacity .3s ease;}

.theme .overlay table.tbl-col th {border-top: 1px solid #7d3226;border-bottom: 1px solid #7d3226;background: #7d3226;}
.theme .overlay .intro-tbl-col {border: 3px solid #7d3226;}
.theme .overlay .tbl-event-btn {background: #f5513c;}
.theme .overlay .intro-tbl-col a {color: #303030;}
.theme .overlay table.tbl-col .num-box {border:1px solid #7d3226;background: #7d3226;}
.theme .overlay table.tbl-col th + th {border-left: 1px solid #7d3226;}

.theme .section.is-on .tech_list .slick-slider {background:#fff;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;}
.theme .section.is-on .tech_list .slick-slider .title {color: #507401;}
.theme .section.is-on .tech_list .slick-slider .desc {color:#333;}
.theme .section.is-on .tech_list .slick-slide .row .column img {background-color:#fff;opacity:1;-webkit-transition: opacity .3s, background-color .3s;-o-transition: opacity .3s, background-color .3s;transition: opacity .3s, background-color .3s;}
.theme .section.is-on .tech_list .slick-dots li {opacity:1;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}
.theme .section.is-on .tech_list .slick-dots li.slick-active button {background: rgb(176 195 137);}

.theme .visual-spot{background:#004f67;}
.theme .visual-spot .spot-inner .bg-box {position:absolute;top:0;left:0;width:100%;height:100%;}
.theme .visual-spot .spot-inner.is-on { background: #131313; /* Old browsers */background: -moz-linear-gradient(45deg,  #131313 0%, #111111 40%, #000000 49%, #070707 81%, #070707 87%, #262626 100%); /* FF3.6-15 */background: -webkit-linear-gradient(45deg,  #131313 0%,#111111 40%,#000000 49%,#070707 81%,#070707 87%,#262626 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(45deg,  #131313 0%,#111111 40%,#000000 49%,#070707 81%,#070707 87%,#262626 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.theme .section.is-on .tabs-nav li + li:before {background:#3e707f;-webkit-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out}
.theme .section.is-on .tabs-nav li button {background:#002936;color:#165568;-webkit-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out}
.theme .section.is-on .tabs-nav li .is-active {background: #92b519;color:#fff;-webkit-transition: background .3s ease-in-out;-o-transition: background .3s ease-in-out;transition: background .3s ease-in-out}

.theme .visual-spot.is-on .desc-group {top:50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index:1;}
.theme .visual-spot.is-on .desc-group h1 {opacity:1;color: #ffc931;-webkit-transition: opacity .3s, color .3s, -webkit-transform .7s ease;-o-transition: opacity .3s, color .3s, transform .7s ease;transition: opacity .3s, color .3s, transform .7s ease, -webkit-transform .7s ease;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
.theme .visual-spot.is-on .desc-group .desc {position:relative;opacity:1;color: #f9ffd1;-webkit-transition: opacity 1s, color 1s, -webkit-transform 1s ease;-o-transition: opacity 1s, color 1s, transform 1s ease;transition: opacity 1s, color 1s, transform 1s ease, -webkit-transform 1s ease;-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
.theme .visual-spot.is-on .is-tutorial {display:none;}

.theme .visual-spot.is-on .cheese-btn {animation:cheeseThemeStopMoving .3s forwards ease-in-out, cheeseThemeMoveBtn .3s forwards ease-in-out .3s ;}
.theme .visual-spot.is-on .cheese-btn:hover {bottom:-20px}
.theme .visual-spot.is-on .cheese-btn > .hand .fingernail:before,
.theme .visual-spot.is-on .cheese-btn > .hand .fingernail:after {display:block;}
.theme .visual-spot.is-on .cheese-btn > .line {animation:cheeseThemeLineDrop .3s forwards ease-in-out }

.theme .visual-spot.is-on .btn-list {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);-webkit-transition: -webkit-transform .3s ease-in-out;transition: -webkit-transform .3s ease-in-out;-o-transition: transform .3s ease-in-out;opacity:1;transition: transform .3s ease-in-out, opacity .6s ease-in, -webkit-transform .3s ease-in-out, opacity .6s ease-in}
.theme .visual-spot.is-on .btn-list button {color:#fff;-webkit-transition: color .2s ease-out, letter-spacing .1s linear;-o-transition: color .2s ease-out, letter-spacing .1s linear;transition: color .2s ease-out, letter-spacing .1s linear;letter-spacing: -.05em}
.theme .visual-spot.is-on .btn-list button::before {background: rgba(255, 255, 255, 0.3);}
.theme .visual-spot.is-on .btn-list button:hover {color: #ffe600;-webkit-transition: color .3s ease-in, letter-spacing .1s linear;-o-transition: color .3s ease-in, letter-spacing .1s linear;transition: color .3s ease-in, letter-spacing .1s linear;letter-spacing: .1em}

.theme .section.is-on {background-color:rgb(23 53 62);background-image: none;}
.theme .section.is-on .utils-list .util-info > dt > .title {color: #7de1ff;}
.theme .section.is-on .utils-list .util-info > dd {color: #fff;}
.theme .section.is-on .utils-list .util-info > dd > a {color:#ffc931}

.theme .section.is-on .photo-list li+li {border-top:1px dotted #6b6a55;}
.theme .section.is-on .photo-list .info .name{color: #80e8df;}
.theme .section.is-on .photo-list .info dd {color:#fff}
.theme .section.is-on .photo-list .info dd:before {color:#ccc27d}

.theme .section.is-on .profile .info > li {background:#fff;-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.2 );box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.2 );}
.theme .section.is-on .profile .info .question{color: #333;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .profile .info .question:before{background:#333;-webkit-transition: color .2s linear, -webkit-transform .1s linear;transition: color .2s linear, -webkit-transform .1s linear;-o-transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear, -webkit-transform .1s linear}
.theme .section.is-on .profile .info .question:after{background:#333;-webkit-transition: color .2s linear, -webkit-transform .1s linear;transition: color .2s linear, -webkit-transform .1s linear;-o-transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear, -webkit-transform .1s linear}
.theme .section.is-on .profile .info .answer{color:#fff;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .profile .info > li.is-on {background:rgb(47 125 171)}
.theme .section.is-on .profile .info > li.is-on  .question {color:#a3d3f1}
.theme .section.is-on .profile .info > li.is-on  .question:before {background:#fff;}
.theme .section.is-on .profile .info > li.is-on  .question:after {background:#fff;}
.theme .section.is-on .profile .info > li.is-on  .answer {color:#fff;border-color:#103850;}

.theme .section.is-on .tech_list .slick-slider > .slick-list.draggable {border-bottom: 1px dotted #ddd;}

.theme .section.is-on .main-tab-nav li {color:#fff;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .main-tab-nav li.is-active {color:#e1be5d;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .main-tab-nav li.is-active:before {background:#e1be5d;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}

.theme .section.is-on .tbl-col,
.theme .section.is-on .tbl-row {border-color:#437c8e;}
.theme .section.is-on .tbl-col th,
.theme .section.is-on .tbl-row th {background:#296297;color:#ddd;-webkit-transition: background .3s ,color .3s;-o-transition: background .3s ,color .3s;transition: background .3s ,color .3s;border-color:#437c8e;}
.theme .section.is-on .tbl-col td,
.theme .section.is-on .tbl-row td {color:#aeccd5;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s;border-color:#437c8e;}

.theme .section.is-on .desc-group strong.tit {color:#e1be5d;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.theme .section.is-on .desc-group .sub-text {color:#aeccd5;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}

.theme .scroll-floating button{background: rgba(19, 103, 33, 1);}

.theme .footer {background:rgb(13 39 47)}
.theme .footer .address-group > p {color:#9c9566}