@charset "utf-8";

/* light */
.section.is-on h3.tit{color: rgb(33, 150, 255);-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on h3.tit > a {color: #ddd;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on h4.tit {color:#999;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .tit .more-link {color:#999;-webkit-transition: color .3s ,opacity .3s;-o-transition: color .3s ,opacity .3s;transition: color .3s ,opacity .3s;opacity:1;}
.section.is-on p.desc {color:#606d77;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .disc-list {color:#8f9da8;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .disc-list li:before {background:#9c761e;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}
.section.is-on dl.desc-list > dt {color:#80807b;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .em-text {color:#9c761e;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .disc-list li.is-find {color:#fff;}
.section.is-on .em-text.is-find {background: #ffff00;color:#f70000;}
.section.is-on .photo-list .info dd:before {color: #975e2b;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .tech_list .slick-dots {border-color:#ddd}
.section.is-on .bim {background:rgba(255,255,255, .4);}
.section.is-on .pic {opacity:1}
.section.is-on .article-wrap {opacity:1;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}
.section.is-on .photo-list .info .name{color: #bf9e72;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .photo-list .info dd {color:#cac7b6;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .utils-list .util-info > dd {color:#ddd;}
.section.is-on .utils-list .util-info > dt > .title{color:rgb(255 237 179)}
.section.is-on .utils-list .util-info > dd > a{color:#ffa500}
.section.is-on .utils-list .util-info > dd > a .icon {opacity:1;}

.section.is-on .years-tab .partion-list li{color:#999;}
.section.is-on .years-tab .partion-list li.is-active {color:#ddd;}

.section.is-on .tech_list .slick-slider {
    background: #ffffff;
    background: -o-linear-gradient(39deg,rgb(255 198 115) 21%,rgb(255 237 164) 49%,rgb(255 207 136) 77%,rgb(28 28 28) 94%,rgb(28 28 28) 100%);
    background: linear-gradient(51deg,rgb(255 198 115) 21%,rgb(255 237 164) 49%,rgb(255 207 136) 77%,rgb(28 28 28) 94%,rgb(28 28 28) 100%);
    -webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;}
.section.is-on .tech_list .slick-slider .title {color:#333;}
.section.is-on .tech_list .slick-slider .desc {color:#8f9da8;}
.section.is-on .tech_list .slick-slide .row .column img {background-color:rgba(255,255,255,.5);opacity:1;-webkit-transition: opacity .3s, background-color .3s;-o-transition: opacity .3s, background-color .3s;transition: opacity .3s, background-color .3s;}
.section.is-on .tech_list .slick-dots li {opacity:1;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}

.section.is-on .profile .info .is-on .question ,
.section.is-on .profile .info .is-on .answer.is-active {color:#fff;}
.section.is-on .profile .info .is-on .question:before,
.section.is-on .profile .info .is-on .question:after {background:#fff;}

.section.is-on .profile .info > .question{color:#777;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .profile .info > .answer{color:#aaa;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
.section.is-on .info > li {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgb(255 238 212)),color-stop(20%, rgb(255 247 236)),color-stop(87%, rgb(255 237 179)),color-stop(99%, rgb(175 129 62)),to(rgb(255 237 185)));
    background: -o-linear-gradient(top, rgb(255 238 212) 11%,rgb(255 247 236) 20%,rgb(255 237 179) 87%,rgb(175 129 62) 99%,rgb(255 237 185) 100%);
    background: linear-gradient(180deg, rgb(255 238 212) 11%,rgb(255 247 236) 20%,rgb(255 237 179) 87%,rgb(175 129 62) 99%,rgb(255 237 185) 100%);
}
.section.is-on .profile .info > li.is-on {background: #f05133}

.section.is-on .toggle-switch .tooltip-block,
.section.is-on .toggle-switch .tooltip-block:after{display:none;}

/* theme */
body.theme .section.is-on h3.tit {color:rgb(216, 255, 0)}
body.theme .section.is-on h4.tit {color:rgb(255,255,255)}
body.theme .section.is-on p.desc {color:#8f9da8;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
body.theme .section.is-on .disc-list {color:#fff;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
body.theme .section.is-on .disc-list li:before {background:#ff9c00;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s}
body.theme .section.is-on dl.desc-list > dt {color:#ffff97;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
body.theme .section.is-on .em-text {color: #ff9c00;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
body.theme .section.is-on .disc-list li.is-find {color:#fff;}
body.theme .section.is-on .em-text.is-find {background: #ffff00;color:#f70000;}
body.theme .section.is-on .photo-list .info dd:before {color: #e5832b}

body.theme .section.is-on .years-tab .partion-list li{color:#aaa;}
body.theme .section.is-on .years-tab .partion-list li.is-active {color:#fff;}

body.theme .header {background:rgba(127, 160, 61, 0); -webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s;}
body.theme .header.is-fixed {background: rgba(0,0,0, .2);-webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s;}
body.theme .header.is-active {background:rgba(127, 160, 61, 1);-webkit-transition: background .3s; -o-transition: background .3s; transition: background .3s;}
body.theme .header .inner .util > li .tooltip-block {opacity:0;-webkit-transition: opacity .3s ease;-o-transition: opacity .3s ease;transition: opacity .3s ease;}

body.theme .overlay table.tbl-col th {border-top: 1px solid #7d3226;border-bottom: 1px solid #7d3226;background: #7d3226;}
body.theme .overlay .intro-tbl-col {border: 3px solid #7d3226;}
body.theme .overlay .tbl-event-btn {background: #f5513c;}
body.theme .overlay .intro-tbl-col a {color: #303030;}
body.theme .overlay table.tbl-col .num-box {border:1px solid #7d3226;background: #7d3226;}
body.theme .overlay table.tbl-col th + th {border-left: 1px solid #7d3226;}

body.theme .section.is-on .tech_list .slick-slider {background:#fff;-webkit-transition: background .3s;-o-transition: background .3s;transition: background .3s;}
body.theme .section.is-on .tech_list .slick-slider .title {color: #507401;}
body.theme .section.is-on .tech_list .slick-slider .desc {color:#333;}
body.theme .section.is-on .tech_list .slick-slide .row .column img {background-color:#fff;opacity:1;-webkit-transition: opacity .3s, background-color .3s;-o-transition: opacity .3s, background-color .3s;transition: opacity .3s, background-color .3s;}
body.theme .section.is-on .tech_list .slick-dots li {opacity:1;-webkit-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;}
body.theme .section.is-on .tech_list .slick-dots li.slick-active button {background: rgb(176 195 137);}

body.theme .visual-spot{background:#004f67;}
body.theme .visual-spot .spot-inner .bg-box {position:absolute;top:0;left:0;width:100%;height:100%;}
body .visual-spot .spot-inner.is-on {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#131313+0,111111+40,000000+49,070707+81,070707+87,262626+100 */
    background: #131313; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #131313 0%, #111111 40%, #000000 49%, #070707 81%, #070707 87%, #262626 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #131313 0%,#111111 40%,#000000 49%,#070707 81%,#070707 87%,#262626 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #131313 0%,#111111 40%,#000000 49%,#070707 81%,#070707 87%,#262626 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#262626',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

body.theme .visual-spot.is-on .desc-group {top:50%;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);z-index:1;}
body.theme .visual-spot.is-on .desc-group h1 {opacity:1;color: #ffc931;-webkit-transition: opacity .3s, color .3s, -webkit-transform .7s ease;-o-transition: opacity .3s, color .3s, transform .7s ease;transition: opacity .3s, color .3s, transform .7s ease, -webkit-transform .7s ease;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
body.theme .visual-spot.is-on .desc-group .desc {position:relative;opacity:1;color: #f9ffd1;-webkit-transition: opacity 1s, color 1s, -webkit-transform 1s ease;-o-transition: opacity 1s, color 1s, transform 1s ease;transition: opacity 1s, color 1s, transform 1s ease, -webkit-transform 1s ease;-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
body.theme .visual-spot.is-on .cheese-btn {-webkit-animation:cheeseAniTheme .1s forwards;animation:cheeseAniTheme .1s forwards;}
body.theme .visual-spot.is-on .cheese-btn:hover {bottom:-20px}
body.theme .visual-spot.is-on .cheese-btn > .hand .fingernail:before,
body.theme .visual-spot.is-on .cheese-btn > .hand .fingernail:after {display:block;}
body.theme .visual-spot.is-on .cheese-btn > .line {height:0;-webkit-transition: height .2s ease-out;-o-transition: height .2s ease-out;transition: height .2s ease-out}
/*body.theme .visual-spot.is-on .cheese-btn > .pic:hover {animation: upDownTarget .6s infinite ease-in-out}*/
body.theme .visual-spot.is-on .btn-list {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);-webkit-transition: -webkit-transform .3s ease-in-out;transition: -webkit-transform .3s ease-in-out;-o-transition: transform .3s ease-in-out;opacity:1;transition: transform .3s ease-in-out, opacity .6s ease-in, -webkit-transform .3s ease-in-out, opacity .6s ease-in}
body.theme .visual-spot.is-on .btn-list button {color:#fff;}
body.theme .visual-spot.is-on .btn-list button::before {background:#ffc931;}

body.theme .section.is-on {background-color:rgb(23 53 62);background-image: none;}
body.theme .section.is-on .utils-list .util-info > dt > .title {color: #7de1ff;}
body.theme .section.is-on .utils-list .util-info > dd {color: #fff;}
body.theme .section.is-on .utils-list .util-info > dd > a {color:#ffc931}

body.theme .section.is-on .photo-list li+li {border-top:1px dotted #6b6a55;}
body.theme .section.is-on .photo-list .info .name{color: #80e8df;}
body.theme .section.is-on .photo-list .info dd {color:#fff}
body.theme .section.is-on .photo-list .info dd:before {color:#ccc27d}

body.theme .section.is-on .profile .info > li {background:#fff;-webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.2 );box-shadow: 3px 3px 3px 3px rgba(0, 0, 0,.2 );}
body.theme .section.is-on .profile .info .question{color: #333;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
body.theme .section.is-on .profile .info .question:before{background:#333;-webkit-transition: color .2s linear, -webkit-transform .1s linear;transition: color .2s linear, -webkit-transform .1s linear;-o-transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear, -webkit-transform .1s linear}
body.theme .section.is-on .profile .info .question:after{background:#333;-webkit-transition: color .2s linear, -webkit-transform .1s linear;transition: color .2s linear, -webkit-transform .1s linear;-o-transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear;transition: color .2s linear, transform .1s linear, -webkit-transform .1s linear}
body.theme .section.is-on .profile .info .answer{color:#fff;-webkit-transition: color .3s;-o-transition: color .3s;transition: color .3s}
body.theme .section.is-on .profile .info > li.is-on {background:rgb(47 125 171)}
body.theme .section.is-on .profile .info > li.is-on  .question {color:#a3d3f1}
body.theme .section.is-on .profile .info > li.is-on  .question:before {background:#fff;}
body.theme .section.is-on .profile .info > li.is-on  .question:after {background:#fff;}
body.theme .section.is-on .profile .info > li.is-on  .answer {color:#fff;border-color:#103850;}

body.theme .section.is-on .tech_list .slick-slider > .slick-list.draggable {border-bottom: 1px dotted #ddd;}

body.theme .scroll-floating button{background: rgba(19, 103, 33, 1);}

body.theme .footer {background:rgb(13 39 47)}
body.theme .footer .address-group > p {color:#9c9566}
